.comprar-container{
  padding:100px 20px;
}

.comprar-box{
  max-width:800px;
  margin:auto;
  background:#fff;
  padding:40px;
  border-radius:20px;
  box-shadow:0 4px 20px rgba(0,0,0,.1);
}

.resumo-compra{
  background:#fff0f8;
  border-radius:12px;
  padding:20px;
}